.inputs{
  width: 350px;
}

.buttons{
  width: 165px;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  padding-bottom:9%;
  border-radius: 30px;
}

.back{
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

img{
  width: 100px;
}
